.container{
    border: 2px solid black;
    display: grid;

    /* Isse ye pata chalega kitne columns banege kitne rows banege  */

    grid-template-areas: "nav nav nav"
                         "side article article"
                         "footer footer footer";

}

.item{
    border: 2px solid red;
    height: 55px;
}

.item-1{
    grid-area: nav;
    background-color: aqua;
}

.item-2{
    grid-area: side;
    background-color: beige;
}

.item-3{
    grid-area: article;
    background-color: pink;
}

.item-4{
    grid-area: footer;
}

.item-5{
    grid-area: footer;
}